<!DOCTYPE html>
<html>
<head>
	<title>layout 1</title>
	<style type="text/css">
		.footer{
			background-color: black;
			padding: 70px;
			text-align: center;
			clear: both;
			width: 41%;
			margin-left: 25%;
		}
	</style>
</head>
<body>
	<table style="width: 50%; padding-top:50px; padding-bottom: 40px" align="center" >
		<tr>
			<th align="left">Logo</th>
			<th align="right"><a href="#">Menu 1</a></th>
			<th align="right"><a href="#">Menu 2</a></th>
			<th align="right"><a href="#">Menu 3</a></th>
		</tr>
	</table>
	<table style="width: 50%; padding-top:50px; padding-bottom: 40px;" bgcolor="gray" align="center">
		<tr><th><img src="baby_birds_mark_and_jb__got7___fanart__by_ladydefsoul-daz60rq.png"></th></tr>
	</table>
	<table style="width: 50%; padding-top:50px; padding-bottom: 30px;" align="center" cellspacing="10">
		<tr>
			<th bgcolor="green" height="200">gambar 1</th>
			<th bgcolor="yellow">gambar 2</th>
		</tr>
		<tr>
			<th bgcolor="red" height="200">gambar 3</th>
			<th bgcolor="pink">gambar 4</th>
		</tr>
	</table>
	<div class="footer">
		<div style="background-color: white; padding: 10px; width: 300px"></div><br>
		<div style="background-color: white; padding: 40px; width: 150px">
		</div>
	</div>
</body>
</html>